.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  border-top: 1px solid #eaeaea;
  border-color: #222;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  background-color: #eaeaea;
  margin-top: 20px;
}

.title {
  margin: 1rem;
  font-size: 2rem;
  margin-bottom: 0;
}

.description {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
}

.headerLink {
  text-decoration: underline;
}

.headerLink:hover {
  color: deepskyblue;
  cursor: pointer;
}

.row {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 900px;
  align-items: flex-start;
}

.smallCol {
  flex: 1;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.bigCol {
  flex: 4;
}

@media (max-width: 700px) {
  .smallCol {
    display: none;
  }
}